@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;500&family=Poppins:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@200;300&display=swap");
@font-face {
  font-family: "JeonjuCraftGoR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
	font-size:62.5%;
}
body {
  font-family: "Pretendard", sans-serif;
	overflow:hidden;
}

input, button, a {
  font-family: "Pretendard", sans-serif;
  color: #1B1602;
	font-weight: bold;
}

button {
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  /* font-family: "IBM Plex Mono", monospace; */
	font-family: "Pretendard", sans-serif;
}

:root {
	--primary:#2B47E1;
	--primary2:#5B73F7;
	--primary-light:#C5CDFC;
	--light:#F8F8F8;
	--light50:rgba(255,255,255,50%);
	--dark:#000000;
	--fz-title:2.8rem;
	--fz-basic:2.2rem;
	--fz-small:1.6rem;
	--bdrs1:3.2rem;

}

.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #E6EEF8;
	max-width: 480px;
	margin:0 auto;
}

.container {
	position:relative;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  padding: 0 20px;
}
.container--full {
  max-width: 500px;
  padding: 0px 0px 0px;
  /* padding: 0; */
  overflow: hidden;
}

.name-section {
	/* display: none; */
  background: var(--primary);
}
.bg {
	position: absolute;
	top: -18%;
	left: 50%;
	transform: translateX(-50%);
}
.name-section .title {
	margin: 12rem 0 1.1rem;
	padding: 0 0 1rem;
	font-size: var(--fz-title);
	color: var(--light);
	position:relative;
}
.name-section .title::before {
	content: "";
	background: url(../images/bg_namedeco.svg)no-repeat;
	position: absolute;
	left: -3%;
	top: -110%;
	width:7.1rem;
	height: 7.1rem;
}
.name-section .title::after {
	content: "";
	background: url(../images/bg_face.svg)no-repeat;
	position: absolute;
	right:-3%;
	top:-10%;
	width:4.8rem;
	height: 3.8rem;
}
.name-section .title br {
  display: none;
}
.name-section .name-input {
  border-radius: var(--bdrs1);
  font-size: var(--fz-basic);
  width: 100%;
  height: 6rem;
  text-align: center;
  border: 1px solid #fff;
  background: var(--light);
  -webkit-appearance: none;
  border: none;
  color: var(--primary);
}
.name-section .name-input::placeholder {
  color: var(--primary-light);
}
.name-section .name-input:focus {
  outline: 2px solid var(--primary);
	color: var(--primary);
}
.name-section .name-input:focus::placeholder {
  opacity: 0;
}
.name-section .name-btn {
	margin: 1rem 0 0; 
  border-radius: var(--bdrs1);
  font-size: var(--fz-basic);
  width: 100%;
  height: 6rem;
  text-align: center;
  border: 1px solid #fff;
  background: var(--primary-light);
  -webkit-appearance: none;
  border: none;
  color: var(--primary2);
}
.name-section .name-btn:focus {
  outline: 1px solid var(--dark);
}
.name-section .name-btn.color {
  background-color: var(--dark);
  /* box-shadow: 4px 4px 16px rgba(149, 117, 205, 0.6); */
  border: none;
  color: #fff;
}
.name-section p {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #90A4AE;
  font-size: 13px;
}
.result-section {
  display: none;
  /* height: 100vh;
  overflow: hidden; */
	height: 100%;
  overflow: auto;
  text-align: left;
	background: var(--primary);
	/* display:block; */
}
.result-section.active {
	height: 100%;
  overflow: auto;
}
.result-section h2 {
  padding: 3rem 0 0;
  font-size: 3rem;
  font-size: var(--fz-title);
	/* color: var(--primary); */
}
.result-txt-wrap {
	background: var(--light);
	/* width: 130%; */
	/* margin-left: -15%; */
	padding: 20px 40px 50px;
	color: var(--primary);
}
.result-section .result-txt {
  padding: 1rem 0 3rem;
  padding-right: 15%;
  font-size: var(--fz-basic);
  line-height: 1.5;
	/* color: var(--primary); */
	text-decoration: underline;
}
.result-section .result-img-wrap {
	position: relative;
	max-width: 400px;
	height:400px;
	margin: 40px 50px 40px;
	background: var(--light);
	border-radius: 30px;
	/* padding: 40px; */
	/* padding: 43px; */
}
.result-section .result-img {
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
  height: 100%;
  /* padding: 40px; */
  /* box-shadow: -16px -16px 40px 0px rgba(255, 255, 255, 0.7), 16px 16px 40px 0px rgba(187, 195, 206, 0.6); */
}

.deco {
	display: none;
	position: absolute;
	z-index: 1;
	
}
.merong {
	bottom: -17%;
	right: -10%;
}
.star {
	top: 0;
	left:-11%;
}
.scribble {
	top: -36%;
	left: 26%;
}

.from-txt {
	text-align: right;
	font-size:1.8rem;
}
/* 
.btn-group {
  display: flex;
  gap: 20px;
}
.btn {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: none;
  box-shadow: -4px -4px 12px 0px rgba(255, 255, 255, 0.7), 4px 4px 12px 0px rgba(187, 195, 206, 0.6);
  display: inline-block;
  background: no-repeat center;
}
.btn-download {
  background-image: url(../images/ico_down.svg);
}
.btn-refresh {
  background-image: url(../images/ico_refresh.svg);
}
.btn-kakaotalk {
  background-image: url(../images/ico_kakao.svg);
  background-size: 20px auto;
} */
.btn-wrap {
	/* width: 130%; */
	/* margin-left: -15%; */
	padding: 27px 40px;
	background: #95A3F0;
}
.btn-group {
  /* display: flex; */
  gap: 20px;
}
.btn {
  /* width: 55px; */
  /* height: 4.1rem; */
	padding:9px 13px 9px 39px;
  border-radius: var(--bdrs1);
  border: none;
  /* box-shadow: -4px -4px 12px 0px rgba(255, 255, 255, 0.7), 4px 4px 12px 0px rgba(187, 195, 206, 0.6); */
  display: inline-block;
  /* background: no-repeat center; */
	font-size:1.4rem;
	margin-right: 0.2rem;
}
.btn-download {
  background: url(../images/ico_down.svg)no-repeat left 13px center ;
	background-color: var(--primary);
	/* background-size: 20px auto; */
	color: var(--light);
	
}
.btn-kakaotalk {
	background: url(../images/ico_kakao.svg)no-repeat left 13px center ;
	background-size: 18px auto;
	background-color: var(--primary);
	color: var(--light);
}
.btn-refresh {
  background: url(../images/ico_refresh.svg)no-repeat left 13px center ;
	background-size: 21px auto;
	background-color: var(--primary-light);
	color: var(--primary);
	margin-top: .9rem;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.shake-animation {
  animation: shake 0.5s ease-in-out;
}

.heart {
	animation: heart-ani 1s linear infinite;
}
@keyframes heart-ani {
	0% {opacity:0; transform: translateY(10px);}
	50% {opacity:.7; transform: translateY(-10px);}
	100% {opacity:1;  transform: translateY(-10px);}
}



/* 로딩시 중간부터 나타남-> fixed로 상단고정 */
/* .container--full {
	max-width: 500px;
	padding: 0px 0px 0px;
	overflow: hidden;
	background: var(--primary);
	width: 100%;
	padding-top: 480px;
}
.container--full.active {
	padding-top: 0;
}
.result-section .result-img-wrap {
	position: fixed;
	top:0;
	left:0;
}
.result-section .result-img-wrap.active {
	position: static;
} */