@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;500&family=Poppins:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@200;300&display=swap");
@font-face {
  font-family: "JeonjuCraftGoR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
}

input, button, a {
  font-family: "IBM Plex Sans KR", sans-serif;
  color: #1B1602;
}

button {
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  font-family: "IBM Plex Mono", monospace;
}

.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #E6EEF8;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  padding: 0 20px;
}
.container--full {
  max-width: 500px;
  padding: 40px 40px 70px;
}

.name-section {
  background: #E6EEF8;
}
.name-section .title {
  margin-top: -40px;
  padding: 0 0 1rem;
  font-size: 22px;
  color: #546E7A;
}
.name-section .title br {
  display: none;
}
.name-section .name-input {
  margin: 1rem 0;
  border-radius: 16px;
  font-size: 20px;
  width: 100%;
  height: 50px;
  text-align: center;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset -4px -4px 12px 0px rgba(255, 255, 255, 0.9), inset 4px 4px 12px 0px rgba(187, 195, 206, 0.6);
  -webkit-box-shadow: inset -4px -4px 12px 0px rgba(255, 255, 255, 0.9), inset 4px 4px 12px 0px rgba(187, 195, 206, 0.6);
  -webkit-appearance: none;
  border: none;
  color: #90A4AE;
}
.name-section .name-input::placeholder {
  color: #90A4AE;
}
.name-section .name-input:focus {
  outline: 2px solid #9574CD;
}
.name-section .name-input:focus::placeholder {
  opacity: 0;
}
.name-section .name-btn {
  border-radius: 16px;
  font-size: 20px;
  width: 100%;
  height: 50px;
  text-align: center;
  border: none;
  background: #CFD8DC;
  color: #90A4AE;
}
.name-section .name-btn:focus {
  outline: 1px solid #9574CD;
}
.name-section .name-btn.color {
  background-color: #9574CD;
  box-shadow: 4px 4px 16px rgba(149, 117, 205, 0.6);
  border: none;
  color: #fff;
}
.name-section p {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #90A4AE;
  font-size: 13px;
}

.result-section {
  height: 100vh;
  display: none;
  overflow: auto;
  text-align: left;
}
.result-section h2 {
  padding: 3rem 0 0;
  font-size: 3rem;
  font-size: 24px;
  color: #546E7A;
}
.result-section .result-txt {
  padding: 1rem 0 3rem;
  padding-right: 15%;
  font-size: 16px;
  line-height: 1.5;
  color: #90A4AE;
}
.result-section .result-img {
  width: 100%;
  border-radius: 30px;
  background: #9574CD;
  object-fit: cover;
  height: 100%;
  box-shadow: -16px -16px 40px 0px rgba(255, 255, 255, 0.7), 16px 16px 40px 0px rgba(187, 195, 206, 0.6);
}

.btn-group {
  display: flex;
  gap: 20px;
}

.btn {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: none;
  box-shadow: -4px -4px 12px 0px rgba(255, 255, 255, 0.7), 4px 4px 12px 0px rgba(187, 195, 206, 0.6);
  display: inline-block;
  background: no-repeat center;
}

.btn-download {
  background-image: url(../images/ico_down.svg);
}

.btn-refresh {
  background-image: url(../images/ico_refresh.svg);
}

.btn-kakaotalk {
  background-image: url(../images/ico_kakao.svg);
  background-size: 20px auto;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.shake-animation {
  animation: shake 0.5s ease-in-out;
}